.loading {
    z-index: 100;
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.w-400px, .w-400px .popover {
    width: 400px;
    max-width: 400px;
}

.overlay-image-uploader {
    background-color: black;
    opacity: 0;
    transition: 300ms;
    &:hover {
        opacity: 0.6;
        transition: 400ms;
    }
}

.w-fit-content {
    width: fit-content;
}

.filter-icon{
    transition: 100ms;
    &:hover {
        color: white !important;
        transition: 200ms;
    }
}

.filter-popover .popover {
    max-width: 98%;
}

.badge-circle {
    width: 1.5rem;
    height: 1.5rem;
    font-size: small;
}

.dropdown-menu.show {
    position: absolute!important;
    min-width: 100%;
}

.mt--100 {
    margin-top: -100px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5e72e4;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e72e4;
}

.overflow-x-auto {
    overflow-x: auto;
}

.white-space-nowrap {
    white-space: nowrap;
}

img.selected {
    box-shadow: 0px 0px 10px #5e72e4 !important;
}