.loading {
    z-index: 100;
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.w-400px, .w-400px .popover {
    width: 400px;
    max-width: 400px;
}

.overlay-image-uploader {
    background-color: black;
    opacity: 0;
    transition: 300ms;
    &:hover {
        opacity: 0.6;
        transition: 400ms;
    }
}

.w-fit-content {
    width: fit-content;
}

.filter-icon{
    transition: 100ms;
    &:hover {
        color: white !important;
        transition: 200ms;
    }
}

.filter-popover .popover {
    max-width: 98%;
}

.badge-circle {
    width: 1.5rem;
    height: 1.5rem;
    font-size: small;
}

.dropdown-menu.show {
    position: absolute;
    min-width: 100%;
}

.mt--100 {
    margin-top: -100px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5e72e4;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e72e4;
}

.overflow-x-auto {
    overflow-x: auto;
}

.white-space-nowrap {
    white-space: nowrap;
}

img.selected {
    box-shadow: 0 0 10px #5e72e4 !important;
}

.w-200px {
    width: 200px;
}
.w-250px {
    width: 250px;
}

.dropdown-select .dropdown-menu.show {
    position: absolute !important;
}

.main-content {
    margin-left: 0 !important;
}
@media (min-width: 992px) {
    .main-content {
        margin-left: 250px !important;
    }
}

.avatar-group .avatar {
    margin-left: -1rem;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .position-md-absolute {
        position: absolute!important;
    }
}

@media (max-width: 768px) {
    .mt--60px {
        margin-top: -60px;
    }
    .position-xs-absolute {
        position: absolute !important;
    }.position-xs-static {
        position: static !important;
    }
}

.dropdown-select .selected, .dropdown-select .selected:hover {
    background-color: #5e72e4;
    color: white;
}
.carousel-control-prev, .carousel-control-next {
    cursor: pointer;
}

.input-group-alternative {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.notifications .dropdown-menu:before {
    left: 120px !important;
}